/*CSS regels voor de productgallerij op de algemene home page en de platform pagina's.
  N.B. Het is gebasseerd op de styling/css van mediaoffer.nl.
*/

#platformbanner {
	margin-bottom: 10px;	
	}

/*Gallery box bevat 5 afbeeldingen naast elkaar.*/
#gallery-box {
	background-color: #fcfcfc;
	width: 708px;	
	float: left;		
	margin: 0px 10px 15px 0px;
	}
	
#gallery-box .content {
	height:420px;
	}

/*Overview box bevat 4 regels van 5 afbeeldingen.*/
#overview-box {
	background-color: #fcfcfc;
	width: 708px;	
	float: left;		
	margin: 0px 35px 15px 35px;
	}

#overview-box .content{
	height:1050px;
	margin-top: 0px;	
	}	
	
#product-container {
	position:relative;
	width:696px;
	padding-bottom: 10px;
	float:left;
	margin-bottom: 10px;
}

/*De side box bevat de dagaanbieding.*/
#side-box {
	background-color: #fcfcfc;
	width: 220px;
	float: right;			
	}
	
#side-box .content{
	height: 760px;
	}

#spotlight-container {	
	width: 200px;
	padding-bottom: 10px;
	float: left;
	margin-left: 29px;	
	}

#side-box #product-container {
	position:relative;
	width:190px;
	padding-bottom: 10px;
	float:left;
	margin-top: 25px;
}
	
/*Regels voor de individuele styling van de producten*/
#product {
	display:block;
	min-height:50px;
	width:129px;
	float:left;
	margin-right:8px; /* was 5px */
	border:0px solid red;
}

.product_foto img {
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	width:112px;
	left:8px;}

.product_foto {
	position:relative;
	width:129px;
	height:174px;
	background:url(../images/bg_product.png) no-repeat;
	margin-bottom:7px;
}
#product .product_naam {
	font-size:12px;
	font-weight:bold;
	height:25px;
}
#product .product_naam a {
	text-decoration:none;
	font-size:14px;
}
#product .product_console {
	color:#838383;
	font-size:14px;
}
#product .product_prijs {
	font-size:20px;
}
#producthead1 h1 {
	color:#222a30;
	font-size:20px;
	font-weight:normal;	
	margin:0;
}
#producthead1 h2 {
	color:#222a30;
	font-size:14px;
	font-weight:normal;	
	margin:0;	
}

#producthead2 {
	float:left;
	width:256px; /* 292 - 36 */
	padding:64px 10px 8px 36px;
	background:url('/images/bg_producthead2.png') no-repeat;
}
#producthead2 .bestel {
	float:left;
	width:140px;
	height:42px;
	margin-top:4px;
}
#producthead2 .prijs {
	color:#383c3f;
	font-size:36px;
	float:right;
	width:100px;
	height:42px;
}

#productinfo {
	clear:both;
	margin-top:16px;
	margin-bottom:20px;
}

img.deel {
	border:1px solid #c9c9c9;
	margin-right:6px;	
}

/*Regels voor de styling van de dagaanbiedingen*/
#product-container .aanbieding {
	float:left;
}
#product-container .aanbieding-info {
	float:left;
	margin-top:20px;
	margin-left:2px;
	color:white;
	border:0px solid red;
}
#product-container .datum {
	background-image:url(../images/bg_aanbieding_datum.png);
	background-repeat:no-repeat;
	width:39px; /* 55 - 16 */
	height:41px;
	margin-top:18px;
	margin-bottom:6px;
	padding-left:10px;
	padding-right:4px;
	padding-top:8px;
	text-transform:uppercase;
	font-size:14px;
	text-align:center;
}
#product-container .prijs {
	background-image:url(../images/bg_aanbieding_prijs.png);
	background-repeat:no-repeat;
	width:44px; /* 55-11 */
	height:23px; /* 50 - 28 */
	padding-left:15px;
	padding-top:25px;
	color:white;
	font-size:14px;
}
#product-container .aanbieding_naam {
	color:#838383;
	font-weight:bolder;
	font-size:14px;	
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	clear:both;
	height:4px;
	border:0;
	background:url(../images/hr.png) repeat-x;
}
 
.clear {
	clear:both;
}


.bestelbutton {
	display:block;
	font-family:"Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
	height:19px; /* 25- 4 */
	padding-top:2px;
	font-size:13px;
	background:url(../images/bestelbutton.png);
	background-repeat:repeat-x;
	text-transform:uppercase;
	width:129px;
	color:white;
	text-align:center;	
	text-decoration:none;
	margin-bottom:6px
}

.bestelbutton:hover {
	color:white;
	background:#364753
}