p.descriptionlabel {
	float:left;
}

p.price {
	margin-left:46px;
}

p.name {
	margin-left:36px;
}

p.stock {
	margin-left:16px;
}

p.img {
	float:right;
}

p.add {
	margin-left:90px;
}

p.category {
	margin-left:20px;
}


