#bannerwrapper {
	position:relative;
	top:-13px;
	clear:both;
	background:white; 
	margin-left:20px;
	padding-left:8px;
	padding-top:8px;
	padding-bottom:12px;
	height:265px;
	width:910px
}

#featured{  
    width:550px;  
    padding-right:350px;  
    position:relative;  
    height:270px
}  
#featured ul.ui-tabs-nav{  
    position:absolute;  
    top:0;
	left:550px;  
    list-style:none;  
    padding:0;
	margin:0;  
    width:350px
}  
#featured ul.ui-tabs-nav li{  
    padding:1px 0;
	padding-left:13px;  
    font-size:12px;  
    color:#666;  
}  
#featured ul.ui-tabs-nav li span{  
    font-size:13px;
	padding-top:10px;
} 
#featured .ui-tabs-panel{ 
	padding:0;
	margin:0; 
    width:550px;
	height:270px;  
    background:#999;
	position:relative;  
    overflow:hidden;  
}  
#featured .ui-tabs-hide{ 
    display:none;  
}  
#featured li.ui-tabs-nav-item a{/*On Hover Style*/  
    display:block;  
    height:65px;  
    color:#333;
	background:#fff;  
    line-height:20px;  
 	text-decoration:none;	
	
}  
#featured li.ui-tabs-nav-item a:hover{  
    background:#f2f2f2;  
}  
#featured li.ui-tabs-selected{ /*Selected tab style*/  
    background:url('images/selected-item.gif') top left no-repeat;
}  
#featured ul.ui-tabs-nav li.ui-tabs-selected a{  
    background:#ccc;
}  
#featured ul.ui-tabs-nav li img{
	height:50px;
    float:left;
	margin:5px 5px;  
    background:#fff;  
    padding:2px; 
    border:0  
}
#featured .ui-tabs-panel .info{  
    position:absolute;  
    top:210px;
	left:0;  
    height:60px;
	width:550px;  
    background:url('images/transparent-bg.png')  
}  
#featured .info h2{  
    font-size:18px;
    color:#fff;
	padding:8px;
	margin:0;  
    overflow:hidden;  
}  
#featured .info p{  
    margin:0 5px;
	font-size:12px;
	padding-left:3px;
    line-height:15px;
	color:#f0f0f0;  
}  
#featured .info a{  
    text-decoration:none;  
    color:#fff;  
}
#featured .info a:hover{  
    text-decoration:underline;  
} 




body { 
	padding:0px; 
	margin:0px;
	font-family:"Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
	font-size:12px; 
	color:black;
	background-color:#b8d4e9;
}
body a { 
	color:#000000; 
	text-decoration: underline;
} 
img, img a {
	border:0;
}

.genre, label, .button, .submitbutton, .sortNaam, .sortPrijs  {
	cursor:pointer;
} 

.betaaloptie {
	margin:20px 20px 0 0;	
}
#bank {
	clear:both;
	margin-top:20px;	
}

.keuze {
	width:220px;
	float:left;
	margin-right:8px;
	height:180px;
	text-decoration:none;	
	border:1px solid #ababab;
	margin-bottom:12px;
}
.keuze a {
	text-decoration:none;	
}

.keuze_tekst {
	position:relative;
	left:0px;
	top:-55px;
	width:200px;
	height:30px;
	font-size:24px;
	background-color:#262f34;
	padding:4px 20px 0px 0px;
	text-align:right;
	color:white;	
	text-decoration:none;	
}
.keuze_tekst a {
	text-decoration:none;	
}

#top {
	background-image:url(/images/bg_top.png);
	background-repeat:repeat-x;
	background-color:white;
	height:133px;
	padding-top:17px;
}
#top a {
	text-decoration:none;	
}
.inloggenwinkelwagen {
	height:30px;
	font-size:13px;
	color:#919191;
	margin-right:11px
}
.strong {
	font-weight:bold;
	margin-right:12px	
}
.inloggenwinkelwagen a {
	color:#919191
}
.inloggenwinkelwagen img {
	margin-top:0px;
	float:left;	
	margin:0 10px 0 0px
}
.inloggenwinkelwagen .tekst {
	margin-top:10px;
	float:left;
}
#top .inloggenwinkelwagen {
	margin-right:15px;
}
img.pijl {
	float:left;
	margin:12px 20px 0 4px;
}
.cijfer {
	display:inline-block;
	color:#71a1c5;
	margin-right:10px;
	min-width:30px;
	text-align:right
}

.zoeken {
	clear:both;
	margin-top:56px;
	text-align:right;
	height:26px;
	float:right;
	margin-right:23px
}

.logo {
	display:block;
	text-indent:-5000px;
	background:url(/images/logo.png) no-repeat 0 0;
	height:113px;
	width:161px;
	margin:0 0 0 16px;
	padding:0
}

#dblauw-border {
	background-color:#507d9e;
	height:20px
}
#blauw-border-onder {
	background-color:#76a8cd;
	height:45px
}
#dblauw-border-onder {
	background-color:#507d9e;
	height:56px
}

.wrapper {
	width: 962px; /* 980- 48 */
	border:0px solid blue;
	margin-left:auto;
	margin-right:auto;
	text-align: left;
	padding:10px 14px 10px 14px /* l en r was 34px */
}
.fade {
	background-image:url(/images/bg_wrapper.png);
	background-repeat:repeat-y;
	background-position:center;
	z-index:1
}
/*.fade_lijntje {
	background-image:url(/images/bg_wrapper.png);
	background-repeat:repeat-y;
	;
	z-index:1;
}*/
#redline {
	height:3px;
	background-image:url(/images/bg_redline.png);
	margin:0;
	padding:0
}
#banner {
	background-image:url(/images/bg_banner.png);
	height:353px;
	margin:0;
	padding:0
}
#menu {
	position:relative;
	height:51px;
	float:right; 
	padding:0; 
	margin:0 24px 0 0;
	top:-13px
}
#menu ul, #menu ul li {
	display:inline;
	padding:0;
	margin:0
}
#menu ul li a {
	list-style-type: none;
	text-transform:uppercase;
	font-size:13px;
	padding:19px 19px 0; 
	color:white;
	margin:0;
	text-decoration:none;
	display:inline-block;
	height:32px	/* 51 - 19 */
}
#menu ul li a:hover, #menu ul li a.actief {
	color:#b8d4e9; 
	background-image:url(/images/bg_item_actief.png);
	background-position:center top;
	background-repeat:no-repeat;
}


.bestelknoppen {
	display:block;
	clear:both;
	margin:50px 0 20px 0;
	height:20px;
}
.float_left {
	float: left;
}	
.float_right {
	float: right;
}

#welkom {
	height:auto;
	background-color:#76a8cd;	
}

.clear {
	clear:both;
}

.button {
	display:block;
	font-family:"Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
	text-align:center;
	height:19px; /* 25- 10 */
	padding:3px 6px 0px 6px;
	font-size:13px;
	background-image:url(/images/bg_button.png);
	background-repeat:repeat-x;
	text-transform:uppercase;
	width:190px;
	color:white;
	text-decoration:none;
	border:0
}
.button:hover {
	background:#5f8ba9;
	color:white;
}
.submitbutton {
	display:block;
	font-family:"Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
	text-align:center;
	height:23px; /* 25- 10 */
	padding:0 6px 0 6px;
	font-size:13px;
	background-image:url(/images/bg_button.png);
	background-repeat:repeat-x;
	text-transform:uppercase;
	width:190px;
	color:white;
	text-decoration:none;
	border:0
}
.submitbutton:hover {
	background:#5f8ba9;
	color:white;
}

fieldset {
	border:0;
}
/* label {
	float:left;
	width:35%;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
	font-weight:bold;
}*/

.genrelabels label {
	float:right;
	margin-left:0px;
  	width:170px;
	text-align:left;
	font-weight:bold;
}

#inloggen label {
	float:left;
	clear:both;
	width:100px;
	padding-top:6px;	
}
#inloggen label:after { content: ": " }


#reserveerform label {
	display:block;
	float:left;
	clear:both;
	width:200px;
	padding-top:6px;
	font-weight:bold;	
}
#reserveerform label:after { content: ": " }


.center {
	margin-left:36%;
	margin-top:10px;
}
.input {
	width:200px;	
}

.zoekbutton {
	display:block;
	font-family:"Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
	height:19px; /* 25- 10 */
	cursor:pointer;
	text-align:center;
	border:0;
	background:#364753;
	color:white;
	margin-left:4px;
	font-size:13px;
	text-decoration:none;
	text-transform:uppercase;
}

.zoekbutton:hover {
	background:#5f8ba9;
	color:white
}

.bestelbutton {
	display:block;
	font-family:"Myriad Pro", Arial, Verdana, Helvetica, sans-serif;
	height:19px; /* 25- 4 */
	padding-top:2px;
	font-size:13px;
	background:url(/images/bg_bestelbutton.png);
	background-repeat:repeat-x;
	text-transform:uppercase;
	width:129px;
	color:white;
	text-align:center;	
	text-decoration:none;
	margin-bottom:6px
}
.bestelbutton:hover {
	color:white;
	background:#364753
}
.afhalen {
	margin-top:-4px;
}

.uitverkocht, .uitverkocht:hover {
	background:#DADADA;	
}


#welkom .blok1 {
	float:left;
	width:326px;
	color:white;
}
#welkom .blok1 h1 {
	display:block;
	margin-top:30px;
	margin-left:20px;
	background:url(/images/welkom.png) no-repeat;
	text-indent:-5000px;
	width:293px;
	height:120px;
}
h2.top5 {
	display:block;
	float:left;
	background:url(/images/top5.png) no-repeat;
	text-indent:-5000px;
	width:147px;
	height:82px;
}
h3.galleryh3 {
	display:block;
	background:url(/images/foto-en-videogallery.png) no-repeat;
	text-indent:-5000px;
	width:143px;
	height:19px;
	margin:12px 0 11px 0;
	padding:0;
}

#vergelijkbaar {
	clear:both;
}
h3.vergelijkbaarh3 {
	display:block;
	background:url(/images/spellen-uit-hetzelfde-genre.png) no-repeat;
	text-indent:-5000px;
	width:169px;
	height:17px;
	margin:12px 0 11px 16px;
	padding:0;
}

h3.gameoffer {
	display:block;
	background:url(/images/dagaanbieding.png) no-repeat;
	text-indent:-5000px;
	width:159px;
	height:52px;
	margin:0;
}
h3.blurayoffer {
	display:block;
	background:url(/images/weekaanbieding.png) no-repeat;
	text-indent:-5000px;
	width:159px;
	height:52px;
	margin:0;
}

/*
#welkom .blok1 h2 {
	color:white;
	font-size:16px;
}
#welkom .blok1 .donker {
	color:#222a30;	
}*/

#welkom .blok2 {
	float:left;
	width:334px;
	height:162px;
	padding:15px 15px 15px 40px;
	background-color:#e9e9e9;
	background-image:url(/images/welkom_blok2.png);
	background-repeat:no-repeat;
	color:#232c31;
	margin-right:26px;
	font-size:12px;
}
#welkom .blok2 a {
	color:#76a8cd;
	text-decoration:none;
}
#welkom .blok3 {
	position:relative;
	top:-6px;
	float:left;
	background:url('/images/bg_waarom.png') no-repeat;
	/* lichter color:#838383; */
	color:#232c31;
	width:165px; /* 205-30 */
	height:105px; /* 205 - 100 */
	padding:85px 16px 15px 24px;
	font-size:12px;
}
#welkom .blok3 ul{
	padding:0;
	margin:0;
}
#welkom .blok3 ul li {
	list-style-type:circle;
	list-style:outside
}

#midden {
	position:relative;
	margin-top:0;
	padding-top:0;
	clear:both;
	height:auto;	
}

#midden h1 {
	color:#222a30;
	font-size:18px;
	font-weight:lighter;
	/* text-transform:lowercase; */
}

#midden h2 {
	color:#222a30;
	font-size:18px;
	font-weight:lighter;
}
#midden h2 .vet {
	font-weight:bolder;
}

#midden h2 .oranje {
	color:#e86e2c;
	text-transform:uppercase;
	font-size:22px;
}
#midden .klein {
	float:left;
	color:#7b7b7b;
	font-size:18px;	
	padding-left:20px;
	padding-top:80px;
	font-stretch:narrower;
	font-weight:lighter;
}
hr {
	margin-top:20px;
	clear:both;
	height:4px;
	border:0;
	background:url(/images/hr.png) repeat-x;
} 

.oranje {
	color: #e86e2c;
}




#product {
	display:block;
	min-height:50px;
	width:129px;
	float:left;
	margin-right:8px; /* was 5px */
	border:0px solid red;
}
.product_foto img {position:absolute;top:0;bottom:0;margin:auto;width:112px;left:8px;}
.psp img {position:absolute;top:0;bottom:0;margin:auto;width:92px;left:18px;;}

.product_foto {
	position:relative;
	width:129px;
	height:174px;
	background:url(/images/bg_product.png) no-repeat;
	margin-bottom:7px;
}
#product .product_naam {
	font-size:12px;
	font-weight:bold;
	height:25px;
}
#product .product_naam a {
	text-decoration:none;
}
#product .product_console {
	color:#838383;
}
#product .product_prijs {
	font-size:20px;
}

#product_breed {
	position:relative;
	background:url(/images/bg_product_breed.png);
	display:block;
	width:312px;
	height:173px;
	float:left;
	margin-right:36px;
	margin-bottom:36px;
	color:#333333;
}

#product_breed .product_foto {
	position:relative;
	background:0;
	float:left;
}

#product_breed .info {
	float:left;
	padding-top:12px;	
	width:175px;
}
#product_breed .product_naam {
	height:36px;
}
#product_breed .product_naam a {
	font-size:13px;
	font-stretch:narrower;
	font-weight:bold;
	text-decoration:none;
}

#product_breed .product_genre {
	padding:8px 0 8px 0;
	color:#e45f24;
}
#product_breed .voorraad {
	color:#676767;
}
#product_breed .voorraad img {
	height:8px;
	width:8px;	
}
#product_breed .leeftijd {
	position:absolute;
	top:50px;
	right:8px;
 	width:30px;
}

#product_breed .bestelbutton {
	position:absolute;
	top:140px;
	right:8px;
	width:94px;
}

#product_breed .prijs {
	padding-top:13px;
	font-size:17px;	
}


#producthead1 {
	float:left;
	width:220px;
	margin-right:6px;
	border:0px solid red;
}
img.productdetail {
	border:1px solid #ababab;
	margin-right:12px;
}

#producthead1 h1 {
	color:#222a30;
	font-size:20px;
	font-weight:normal;	
	margin:0;
}
#producthead1 h2 {
	color:#222a30;
	font-size:14px;
	font-weight:normal;	
	margin:0;	
}

#producthead2 {
	float:left;
	width:256px; /* 292 - 36 */
	padding:64px 10px 8px 36px;
	background:url('/images/bg_producthead2.png') no-repeat;
}
#producthead2 .bestel {
	float:left;
	width:140px;
	height:42px;
	margin-top:4px;
}
#producthead2 .prijs {
	color:#383c3f;
	font-size:36px;
	float:right;
	width:100px;
	height:42px;
}

#productinfo {
	clear:both;
	margin-top:16px;
	margin-bottom:20px;
}

img.deel {
	border:1px solid #c9c9c9;
	margin-right:6px;	
}
#gallery {
	position:relative;
	margin-top:20px;
	clear:both;
	background:#d0d0d0;
	padding:2px 17px 12px 17px;
	min-height:150px;
}

#kruimelpad {
	color:#838383;	
}
#kruimelpad a {
	color:#838383;
	text-decoration:none;
}
#kruimelpad strong {
	color:#515252;
}

.squarepic {
	width:96px;
	height:96px;
	overflow:hidden;
	float:left;
	margin-right:19px;
	border:2px solid #383c3f;
	text-align:center;
	vertical-align:middle;
}
.squarepic img {
	height:96px;
	margin-left:-27px;
}
.squarepic img.videopic {
	margin-left:-16px;
}


#midden .wrapper {
	background-image:url(/images/bg_midden.png);
	background-repeat:repeat-y;
	background-position:center;
}

.special {
	background:url(/images/bg_special.png) no-repeat;
	height:261px; /* 301 - 40 */
	width:293px;  /* 333 - 40 */
	padding:20px;
	float:left;
}
.pixmarge {
	margin-right:4px;	
}


#left {
	position:relative;
	padding:20px;
	width:696px;
	float:left;
	/* background:#f1f1f1;
	border:1px solid blue; */
	margin-right:8px;
}
#right {
	position:relative;
	padding:30px 0 10px 0px;
	left:10px;
	width:200px; /*208-40*/
	min-height:220px;
	float:left;
	/* background-color:#e5e5e5;
	border:1px solid red; */
	min-height:350px;
}


#right h3 {
	color:#222a30;
	font-size:18px;
	font-weight:lighter;
}
#right h3 .vet {
	font-weight:bolder;
}

/*
#right h3 {
	color:#507d9e;
	font-size:18px;
	font-weight:normal;
}
#right h3 .klein {
	color:#838383;	
	font-size:12px;
	padding-left:60px;
}
/*

#right img.aanbieding {
	width:90px;
	border:1px solid #bebebe;
	width:108px;
	margin-bottom:38px;
	float:left;
*/	

#right .aanbieding {
	float:left;
}
#right .aanbieding-info {
	float:left;
	margin-top:20px;
	margin-left:2px;
	color:white;
	border:0px solid red;
}
#right .datum {
	background-image:url(/images/bg_aanbieding_datum.png);
	background-repeat:no-repeat;
	width:39px; /* 55 - 16 */
	height:41px;
	margin-top:18px;
	margin-bottom:6px;
	padding-left:10px;
	padding-right:4px;
	padding-top:8px;
	text-transform:uppercase;
	font-size:14px;
	text-align:center;
}
#right .prijs {
	background-image:url(/images/bg_aanbieding_prijs.png);
	background-repeat:no-repeat;
	width:44px; /* 55-11 */
	height:23px; /* 50 - 28 */
	padding-left:15px;
	padding-top:25px;
	color:white;
	font-size:14px;
}
#right .aanbieding_naam {
	color:#838383;
	font-weight:bolder;
	font-size:14px;	
}

h1, h2, h3 {
	font-weight:normal;
	color: #0a4168;
	font-size:14px;
}


#onder {
	clear:both;
	font-size:12px;
	position:relative;
	padding-left:0px;
	color:#94a5b0;
	text-align:center;
	height:269px;
	background-color:#1b2024;
	background-image:url('/images/bg_onder.png');
	background-repeat:no-repeat;
	/* border-top:58px solid #507d9e;*/
}

#onder .wrapper {
	padding-top:25px;
	height:234px; /* 269 - 25 */
	background-color:#1b2024;
}
#onder a, #onder a:hover {
	color:#94a5b0;
	text-decoration:none;
}

#onder strong {
	color:#f4f4f4;
	margin-bottom:4px;
	display:block;
	font-size:14px;	
	font-weight:100;
}

#onder .telefoon {
	color:#507d9e;
	font-size:14px;	
	clear:both;
	display:block;
	padding:14px 0 4px 0;
}
#onder .copyright {
	color:#507d9e;	
}
#onder .blokcontact {
	padding-top:10px;
	width:380px;
	min-height:200px;
	float:left;
	background:url('/images/lijn-onder.png') no-repeat 0px 0px;
	padding-left:14px;	
}
#onder .smal {
	padding-top:10px;
	width:140px;
	float:left;	
}
#onder .floatlogos {
	padding-top:10px;
	margin-right:12px;
	min-height:200px;
	width:130px;
	float:left;	
	text-align:center;
	background:url('/images/lijn-onder.png') no-repeat 128px 0px;
}
#onder .floatlogos img {
	margin-bottom:20px;	
}
#onder .contact {
	float:left;
	width:125px;
}
#onder .contact strong {
	color:#507d9e;	
	font-size:13px;
	font-weight:100;
	margin-bottom:0;
}
/* hieronder is oud */

/*

ul.menu {
	height:51px;
	border:1px solid red;	
}
ul.menu li {
	height:48px; 51 - 23 
	display:inline;
	padding:23px 20px 0px 20px;
	font-size:13px;
	float:left;
	text-transform:uppercase;
	background-image:url(n_images/bg_item_actief.png);
	background-repeat:no-repeat;
	background-position:center top;
}
ul.menu li a {
	color:white;
	text-decoration:none;	
}
ul.menu li.actief {
	color:#b8d4e9;
	background-image:url(n_images/bg_item_actief.png);
	background-position:center top;
}


*/

#plaatsing { 
	position: relative; 
	width: 980px;
	top: 0px;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
	text-align: left;
	height:100%;
	background-color:white;
}




.suggest_total {
  width:220px;
}
.suggesttxt{
  float:left;
  width:160px;
  font-size:11px;
}
.suggestimg {
  float:left;
  width:40px;
  margin-bottom:10px;
}
.suggestionsBox {
  position: absolute;
  margin: 10px 0px 0px -10px;
  width: 220px;
  background-color: #FFF;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 2px solid #DADADA;	
  color: #000;
  text-align:left;
}
*:first-child+html .suggestionsBox {
  position: relative;
  left: -10px;
  margin: 10px 0px 0px 0px;
}
* html .suggestionsBox {
  position: relative;
  left: -10px;
  margin: 10px 0px 0px 0px; 
}
.suggestionList {
  margin: 0px;
  padding: 0px;
}

.suggestionList li {
  margin: 0px 0px 3px 0px;	/* top right bottom left */
  padding: 3px;
  cursor: pointer;
  list-style-type: none;
}
.suggestionList a {
  text-decoration:none;
  color:#000;
}
.suggestionList li:hover {
  background-color: #FFF;
  color:#820000;
}



/* .zoek_form {
  position:absolute;
  left:640px;
  top:20px;
  */
/*
  padding-top:4px;
  padding-right:17px;
  float:right;
  text-align:right;
*/
  width:200px;

  z-index:999;
}

TABLE {
color: #000000;
FONT-SIZE: 11px;
BORDER: 0px;
PADDING: 0px;
MARGIN: 0px;
}


#form1 {
float:left;
height:70px;
}
#form2 {
float:left;
height:70px;
margin-left:4px;
}




.voorwaarden {
  background-color:#FFF;
  font-family:Arial, Verdana, Helvetica, sans-serif;
  font-size:11px;
  color:#000;
  padding:12px;
}


#kortingonderprijs { 
 margin-top:0px;
}

.productnaam {
  text-align:center;
  margin:0px;
  z-index:4;
  width:740px;
}
.productfoto {
text-align:center;
  margin-top:-20px;
width:764px;
}
.productknop {
text-align:center;
width:740px;
}
.productprijs {
text-align:center;
margin-top:0px;
margin-bottom:23px;
width:740px;
}

#deel {
	clear:both;
	margin-top:26px;
	background:#d0d0d0;
	border:1px solid #9e9e9e;
	padding:6px 0px 0px 15px;
	width:400px;
}
#deel a {
	border:2 px solid green;	
}

#kaart {
	background:url('/images_shop/kaart.png') no-repeat;
	height:202px;
	width:174px;
}
.winkel {
	display:block;
	height:20px;
	width:20px;
	cursor:pointer;
	list-style: none;
	margin:0;
	padding:0;
}
.winkel img {
	padding:5px;
	height:10px;
	width:10px;
}
.infowinkel {
	margin-left:25px;
	margin-top:-26px;
	display:none;
	height:12px;
	padding:2px 4px 2px 4px;
	background:#e56b33;
	color:white;
}
ul.winkels {
	padding:0;
	margin:0;	
}

#glanerbrug {
	position:relative;
	left:144px;
	top:60px;
}
#nijmegen {
	position:relative;
	left:100px;
	top:70px;
}
#amsterdam {
	position:relative;
	left:59px;
	top:73px;
}

.verberg {
	display:none;  
}

span.stars, span.stars span {
			display: block;
			background: url('/images_shop/stars.png') 0 -16px repeat-x;
			width: 80px;
			height: 16px;
}
	
span.stars span {
	background-position: 0 0;
}

/*
.welkom {
color:#0d4168;
}




#bladerknoppen {
width:600px;
text-align:center;
padding-left:12px;
}
.blader {
float:left;
}




#infoblok {
text-align:center;
}

img.info {
float:left;
margin-right:20px;
width:220px;
border:1px solid #0d4168;
height:141px;
}
#info1 {
padding-left:14px;
height:150px;
}


#info2 {
float:left;
width:260px;
}
#info3 {
float:left;
width:230px;
}












#menu_login {
position:relative;
top:0px;
left:0px;
height:49px;
width:840px;
font-size:12px;
padding-left:60px;
padding-top:4px;
background-image:url('bg_login.png');
}
#menu_login a {
  text-decoration:none;
  color:#0d4168;
}
#menu_login table {
  color:#0d4168;
}

#vergeten {
margin-top:-2px;
}

#ingelogd {
margin-top:-2px;
}

#winkelwagen_plaatje {
float:left;
}

#winkelwagen_artikelen {
margin-top:2px;
float:left;
}

#winkelwagen {
  position:absolute;
  top:5px;
  left:715px;
  padding-right:10px;
}
#winkelwagen a {
  text-decoration:none;
}



#logo {
  position:relative; 
  top:0px;
  left:54px;
  z-index:4;
  height:196px;
}


#zoeken {
  position:relative;
  top:0px;
  left:0px;
  padding-top:14px;
  padding-left:60px;
  padding-right:70px;
  height:49px;
  width:770px;
  font-size:14px;
  background-image:url('bg_boven.png');
  z-index:2;
}




#links p.titel {
width:150px;
text-align:center;
border-bottom:1px solid #e66a2c;
}

#rechts {
  position:relative;
  padding-left:32px;
  padding-right:20px;
  padding-bottom:20px;
  margin-bottom:20px;
  width:540px;
  min-height:350px;
  float:left;
  border:0px solid #0000FF;
}

#dagaanbieding {
  position:relative;
  text-align:center;
  width:170px;
  left:-8px;
  margin-top:5px;
}
#dagaanbieding a {
  text-decoration:none;
}

#rechts p.titel {
width:560px;
text-align:center;
border-bottom:1px solid #e66a2c;
}

#rechts p.titel img {
  border: 0px;
}






.productfrfrf {
text-align:center;
width:100px;
float:left;
height:240px;
float:left;
margin-right:6px;
font-size:16px;
font-weight:bold;
}


frrf_foto {
  width:90px;
  height:140px;
}




.shop_product {
  width:520px;
  margin-top:10px;
  font-size:12px; 
  height:150px;
  border-bottom:1px solid #e56a2a;
}
.shop_fotokader {
  font-weight:bold;
  float:left;
  width:145px;
}
img.shop_foto {
  border:1px solid #000;
}

.shop_tekst {
  width:360px;
  padding-left:10px;
  float:left;
}
.shop_tekst p {
  margin-top:4px;
  margin-bottom:4px;
}
.shop_prijs {
  margin-top:5px;
  margin-bottom:5px;
  float:left;
  width:62px;
  font-weight:bold;
  font-size:14px;
}
.shop_voorraad {
  padding-top:6px;
}
.shop_bestel {
  margin-top:8px;
  margin-left:-7px;
  clear:both;
}

#az a {
  color:#e56a2a;
  font-size:16px;
  text-decoration:none;
  text-align:center;
}

.binnenkort_rij {
  clear:both;
}
.binnenkort_rij a{
  text-decoration:none;
  margin-top:10px;
  margin-left:2px;
}

.binnenkort_1 a {
  float:left;
  color:#0d4168;
  font-weight:bold;
}

.binnenkort_2 a {
  float:left;
  color:#000;
  font-style:italic;
  text-align:right;
  width:120px;
}


.top_rij {
  clear:both;
}
.top_rij a{
  text-decoration:none;
  margin-left:2px;
  margin-top:10px;
}

.top_1 a {
  float:left;
  width:25px;
}
.top_2 a {
  float:left;
  width:120px;
  color:#000;
  font-style:italic;
  text-align:right;
}



img.foto_vergroot {
  margin-right:20px;
  float:left;
  margin-bottom:20px;
}










.kleiner {
  margin-top:4px;
  font-size:10px;
}

.rss {
  position: absolute;
  top:4px;
  left:800px;
}

*/